//? cd
//* sass --watch utilities.scss utilities.css

.fs- {
  &1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  &2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  &3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  &4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
}

/* .fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

 */
